:root {
  --color-primary: #111;
  --color-secondary: #44ab96;
  --color-tertiary: #ff5678;
  --color-background: #fcfcfc; /*#fafafa*/
}
/* apply to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 20px;
}
/* body element */
body {
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;
  color: var(--color-primary);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image:url("./assets/bg.jpg"); nahi jam ra accha bhai */
  
}

/* removing anchor tag styles */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 1.4rem 0 0.8rem 30px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.35rem 0.8rem;
  text-align: center;
  height: 80px;
  background-color: #32a832 ;/*rgb(117, 219, 86)*/
}
header > .brandName {
  font-size: 2.8rem;
  font-weight: 700;
  cursor: pointer;
}

header > nav > ul {
  /* flex: 1; */
  margin-top: 0.9rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-right: 50px;
}
.mobileMenuList {
  font-size: 30px;
  font-weight: bolder;
}





/*riht mid bttom*/


#projects {
  position: static;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 10px;
}


.postCardsContainer{
  /* position: ; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  left: 150px;
  top: 60px;
  padding: 10px;
}

.postCard {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
}
.postCard> .deignation {
  font-size: 3rem;
  padding: 15px;
}
.postCard>img {
  width: 300px;
  height: 300px;
  left: 1000px;
} 
h3{
  display: inline-block;
}
.commonincard {
  font-size: 1.5em;
  margin: 15px 30px 15px 60px;
}










/*left part*/
.LeftpostMenu{
  background-color: black/*#E7E9EB*/;
  /* width: 150px; */
  height: 100vw;
  display: flex;
  /* flex-direction: column;  */
  justify-content: space-between;
  padding: 0.4rem 0.6rem;
  text-align: center;
  /* color :rgb(141, 55, 55); */
  text-align: left;
  color:white;
  /* display: flex; */
  flex-direction: row;
  /* justify-content: space-between; */
  /* padding: 0.35rem 0.8rem; */
  /* text-align: center; */
  height: 80px;
  background-color: #000000 

}


 
.LeftpostMenu > .brandName {
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  padding-left:10px ;
}

.postlist > ul{
  font-size: 15px;
  font-weight: bold;
  margin-top: 0.9rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  margin-right: 50px;
}
.postlist > ul> a >li{
  /* border-bottom: 1px solid rgb(255, 255, 255); */
  padding-left:10px ;
  margin: 10px 0px 0px 0px;
}



/*top button*/
.topbutton {
  position: fixed;
  bottom: 50px;
  right: 51px;
  font-size:60px;
}
























/* media queries for larger screens */
@media screen and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  header {
    display: table-row-group;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.6rem 0.6rem;
    text-align: center;
    background-color: rgb(117, 219, 86);
  }
  header > nav > ul {
    gap: 2rem;
  }
  /* .home {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .home > img {
    width: 50%;
  }
  .home > .heroText > .headTitle {
    font-size: 2rem;
  }
  .home > .heroText > .title {
    font-size: 2rem;
    font-weight: 700;
  } */
}